<div class="well">
    <h4>ছোট্ট করে আমার সম্পর্কে…</h4>
    <hr>
    <p>
        আমি (আবু আসিফ খান চৌধুরী), Rajshahi University of Engineering and Technology তে অধ্যায়নরত ‘১০ ব্যাচের ছাত্র। পড়তেছি Computer Science and Engineering নিয়ে। প্রোগ্রামিং ও অ্যালগরিদমের প্রতি মারাত্মক আকর্ষন এবং নতুন কিছু শেয়ার করার জন্য এখানে লেখালিখি করি এবং করবো। মুলত শিখি নিজের জন্যই তবে অন্যদেরকে সেটা জানানোর চেষ্টা কেবল জ্ঞানটা গভীর করার জন্য। ব্লগটাতে আমি কনটেস্ট প্রোগ্রামিং, অ্যালগরিদম, এবং এ বিষয়ক আমার জানা তথ্যগুলা সহজ ভাষায় লেখার চেষ্টা করবো।
    </p>
    <p>
        আমাকে ফলো করতে পারেন
        <a href="https://github.com/asifcse10"><i class="icon-github"></i>গিটহাব</a>
        <a href="https://plus.google.com/u/0/102331957297069647141/"><i class="icon-gplus"></i>গুগল+</a>
    </p>
</div>
<div class="well">
    <p>মোট পেজভিউ</p>
    <img src="http://counter9.bestfreecounterstat.com/private/freecounterstat.php?c=6492e12297b4296d0e4fa94265908490" border="0">
</div>